body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    margin: 5vw;
}

.square {
    width: 6vw;
    height: 6vw;
    font-size: 5vw;
    display: flex;
    justify-content: center;
    border: 2px solid black;
    cursor: pointer;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 20vw;
}